.app-container {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background: $secondaryWhite;

	// display: grid;
	// grid-template-columns: repeat(5, 1fr);
	// grid-template-rows: repeat(5, 1fr);
	// grid-column-gap: 0px;
	// grid-row-gap: 0px;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}


	.sidebar  { grid-area: 1 / 1 / 11 / 3; }
	.header { grid-area: 1 / 3 / 2 / 9; }
	.notification-center { grid-area: 1 / 9 / 11 / 11; }
	.app-content {overflow-y: scroll; grid-area: 2 / 3 / 11 / 9; }
	
.app-content::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.app-content::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

.app-content::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: $brandingSecondary;
}
// .sidebar {
// 	grid-area: 1 / 1 / 6 / 2;
// }
// .app-content {
// 	grid-area: 2 / 2 / 6 / 5;
// }
// .header {
// 	grid-area: 1 / 2 / 2 / 5;
// }
// .notification-center {
// 	grid-area: 1 / 5 / 6 / 6;
// }
